In [64]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]

def make_global_df():
    def make_df(conditon):
        df = pd.read_csv(f"data/time-{condition}.csv")
        df = df.drop(["Province/State", "Country/Region", "Lat", "Long"], axis=1).sum().reset_index(name=condition)
        df = df.rename(columns={'index':'date'})
        return df
    final_df = None
    for condition in conditions:
        condition_df = make_df(condition)
        if final_df is None:
            final_df = condition_df
        else:
            final_df = final_df.merge(condition_df)
    return final_df
global_df = make_global_df()
global_df

        date  confirmed   deaths  recovered
0    1/22/20        557       17         30
1    1/23/20        657       18         32
2    1/24/20        944       26         39
3    1/25/20       1437       42         42
4    1/26/20       2120       56         56
..       ...        ...      ...        ...
897   7/7/22  553523136  6347483          0
898   7/8/22  554536596  6349730          0
899   7/9/22  555035449  6350603          0
900  7/10/22  555458052  6351208          0
901  7/11/22  556517813  6352910          0

[902 rows x 4 columns]